<div class="ui grid">
  <div class="ui eight wide centered column">

    <h1 class="ui header center aligned">{{ title }}</h1>
    <div class="ui segment">
    <form class="ui form" ng-submit="resetPassword()">
      <div class="alert callout" ng-show="error">{{ errorMessage }}</div>
      <div class="field username">
        <label for="username">Enter your Username</label>
        <input type="text" name="username" ng-model="form.username" placeholder="Username" autocapitalize="none" autocorrect="off" required autofocus />
        <p class="help">We will send a magic link to your email to reset your password.</p>
      </div>
      <button class="ui secondary button" type="submit" ng-disabled="disabled">Reset Password</button>
      <button class="ui button" ui-sref="home">Login</button>
    </form>
    </div>
  </div>
</div>
